---
import BaseHead from '../../components/BaseHead.astro'
import CardContent from '../../components/CardContent.astro'
import Footer from '../../components/Footer.astro'
import Header from '../../components/Header.astro'

import {
  getBookCollection,
  getFirstChapterPath,
} from '../../computes/book.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts'
import type { BookCollection } from '../../types/interfaces.astro'

const books: BookCollection[] = await getBookCollection()
// console.dir(books, { depth: null })
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center p-4"
    >
      {books.map((book) => <CardContent book={getFirstChapterPath(book)} />)}
    </main>
    <Footer />
  </body>
</html>
